main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
}

.preview {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(249, 249, 249);
}

.control-panel {
  position: fixed;
  bottom: 5%;
  max-width: 80%;
}

.image-prev {
  width: 100px;
  height: 100px;
  flex: none
}