/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
    --color-primary: oklch(0.57 0.2 258.62);
    --color-primary-light: oklch(from var(--color-primary) calc(l + 0.25) c h);

    --gray-500: oklch(from black calc(l + 0.5) c h)
}
